@model IEnumerable<DriverDriverWeb.Models.CourseModel>

@{
    ViewBag.Title = "MyTracker";
}

<h2>My Course Tracker</h2>

<p>
    <a href="~/Home/CreateCourseEntry" class="btn btn-success btn-sm">Create Entry</a>
    <button id="btnSubmit">Click</button>
</p>
<p>
    <label for="holeSelection">Amount played:</label>
    <select name="holeSelection">
        <option value="selectPlaceholder">Select...</option>
        <option value="nineHoles">9 Holes</option>
        <option value="eighteenHoles">18 Holes</option>
    </select>
</p>
<table name="fullTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSpent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BallsLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName, "Course Name")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location, "Location")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price, "Price")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpent, "Time Spent")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BallsLost, "Balls Lost")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score, "Score")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {

            /*var myBtn = document.getElementById('btnSubmit');
            myBtn.addEventListener('click', function(e) {
                e.preventDefault();
                alert('Hello');
            });*/

            $('#btnSubmit').click(function (event) {
                event.preventDefault();
                alert("Hello");
            });
        });
    });
</script>